<header>
  <nav id="reader_nav">

    <ul id="nav_buttons">
      <% if !logged_in? %>
        <li class="nav_item" id="signup"> Sign Up </li>
        <li class="nav_item" id="login"> Log In </li>
      <% end %>

      <% if logged_in? %>
        <%= link_to profile_path(current_user) do %>
          <i class="fa fa-book"> </i>
          <% end%>
        <li id="profile_logout_right"><%= link_to "Sign Out", sign_out_path(current_user), :class => "nav_right"  %></li>
        </div>


       <% if session[:user] && session[:book] %>
         <% if current_page?(user_book_path(current_user, session[:book]))%>
            <!-- <li class="nav_item" id="middle" style="margin-left: 19%"><%= title_parse(book_title) %></li> -->
            <div class="nav_item">
            <div id="center_notes"><i class="fa fa-comment" id="add_comment"></i></div>
            <i class="fa fa-bookmark" id="bookmark"></i>
            </div>
         <%end%>
       <%end%>

      <% end %>
    </ul>
  </nav>
</header>


