
<div class="modal fade" id="commentViewModal" tabindex="1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body" >
        <div id="comment_view">
         <% @comments.each do |comment| %>
            <p> Passage: <%= comment.commented_on %> </p>
            <p> <%= comment.created_at %> </p>
            <p> Comment: <%= comment.commentary %> </p>
         <% end %>
          <div class="modal-footer">
          <br><br>
          <center>
          <button class="close_comment_view"> Close </button>
          </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
