<div id="comment_fun">
  <%= form_for :comment, url: {action: "create"}, remote: true do |f| %>
  <p>
    <%= f.label :commentary %>
    <%= f.text_area :commentary %>
  </p>
  <p><%= f.submit %></p>
  <% end %>
</div>
