<%= render '/layouts/read' %>

  <!-- Would very much like to rename the h2 class names and fonts (defaults to h2 size font) below for semantic purposes. Will hold off due to JS ramifications -->

  <div id="last_point"></div>
  <center id="comment_position">
    <p id="comment_view_click"> Comments on <%= @book.title%> </p>
      <center id='comment-view-modal' style="display: none z-index: 10"><%= render 'comments/comments_show' %></center>
  </center>
