
<div class="pages" style="visibility:hidden"> <%= @pages %> </div>
<div class="book_wrapper">


  <div class="sentence_wrapper">
  <div class="current_sentence"></div>
  <% @sentences.each_with_index do |sentence, index| %>
  <span class="non_current_sentence"><p class ="sentence<%=index%>"><%= sentence %></span>
  <% end %>
  </div>
</div>

<center>
<h2 class="right"> RIGHT </h2>
<h2 class="left"> LEFT </h2>

</center>


<div class="bottom_bar">
<div id="progressbar"></div>
</div>

<div class="comment_box">

<%=link_to "Add Comment", new_user_comment_path, id: "new_comment", remote: true%>
</div>
