/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require progress-bar
 *= require bootstrap
 *= require font-awesome

 *= require_tree .

 */

 $nav-link-color:#454343;

.warning {
  // text-align: center;
  color: red;
  font-size: 2.500em;
}

/* MEDIA - iPhone Portrait */

@media only screen
and (max-device-width : 470px) and (orientation: portrait) {


 #position_title {
    margin-left: 15%;
    font-size: 1.200em;
    padding-top: 0.5%;
  }



}



 // mobile phone landscape
@media screen
and (max-device-width : 568px) and (orientation: landscape) {



 #position_title {
    margin-left: 28%;
    font-size: 0.800em;
    padding-top: 0.5%;
  }

}


/* MEDIA - iPad mini portrait */

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1)  {


  #position_title {
    margin-left: 15%;
    font-size: 1.200em;
    padding-top: 0.5%;
  }





}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {


  #position_title {
    margin-left: 28%;
    font-size: 0.800em;
    padding-top: 0.5%;
  }





}

