// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  overflow: hidden;
}

.book_wrapper {
  text-align: center;
  margin-top: 5%;
  margin-left: 17%;
  width: 60%;
  color: #36AECC;
  font-family: 'Georgia';
  font-size: 30px;
  height: 35%
}

.sentence_wrapper {
  color: black;
  font-size: 60px;

}


