/* MEDIA - iPhone */
/*
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {

  .modal {
      position: fixed;
      top: 3%;
      right: 3%;
      left: 3%;
      width: auto;
      margin: 0;
  }

  .modal-body {
      height: 60%;
  }

  #signupModal, #loginModal, #commentModal, #commentViewModal {
    margin-left: -400px;
  }

  .signup-form, .login-form, #form_fun {
    font-size: 40px;
    font-family: 'Georgia';
    text-align: center;
  }

  #date_time {
    font-style: italic;
    font-size: 30px;
  }

  #new_comments, #old_comments {
    font-size: 35px;
  }

  #passage{
    font-size: 35px;
  }
  #comment_commentary{
    width: 500px;
  }

  .percentage, .text_progress{
    padding: 10px;
    font-size: 35px;
    text-align: center;
    font-style: 'Arial'
  }


  .modal-content{
    height: auto;
    width: 700px;
  }


  #middle {
    font-size: 1.500em;
  }

  .bottom_bar {
    margin-top: 90%;
  }

  .book_wrapper {
    height: 25%;
  }

  .sentence_wrapper {
    font-size: 1.50em;
  }

  .forward, .backward {
    margin-right: 2%;
    margin-top: 90%;
    float: right;
  }

  .backward {
    float: left;
  }

*/
/* MEDIA - iPad mini portrait */


@media only screen
and (min-device-width : 768px)
and (orientation : portrait){

  body {
    background-color: red;
  }

}


/* MEDIA - iPad mini landscape
/*
@media only screen and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {



}

*/

/*
@media only screen and (max-width : 640px) {

    header {
      position: absolute;
    }

    #menu-icon {
      display:inline-block;
    }

    nav ul, nav:active ul {
      display: none;
      position: absolute;
      padding: 20px;
      background: #fff;
      border: 5px solid #444;
      right: 20px;
      top: 60px;
      width: 50%;
      border-radius: 4px 0 4px 4px;
    }

    nav li {
      text-align: center;
      width: 100%;
      padding: 100px 0;
      margin: 0;
    }

    nav:hover ul {
      display: block;
    }

    .nav_item ul,li, a {
      padding: 24px 30px 20px 30px;
      margin-bottom: 4px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      color: #eeeeee;
      font-size: 45px;
      text-decoration: none;
     }

      #left{
        float: left;
      }

      #middle{
        margin-left: 30%;
      }
}
*/
