$link-color:#B2BABC;
$nav-margin:15%;
$nav-backgroud: #F9F4E7;

.nav_quad_1, .nav_quad_3 {
  float: left;
  font-size: 1.2em;
  color: $link-color;
  margin-top: 1%;
}

.nav_quad_2, .nav_quad_4 {
  float: right;
  color: $link-color;
  font-size: 1.2em;
  margin-top: 1%;
}

.nav_quad_1 {
  margin-left: 3%
}

.nav_quad_2 {
  margin-right: 3%
}

.nav_quad_3 {
  margin-left: $nav-margin;
}
.nav_quad_4 {
  margin-right: $nav-margin;
}

i:hover {
  color: #0754FE;
}

#profile_library_left {
  float: left;
  padding: 1%;
  @media screen and (orientation: portrait) {
    padding: 3%;
  }
}

#profile_logout_right {
  float: right;
  padding: 1%;
  @media screen and (orientation: portrait) {
    padding: 3%;
  }
}

#center_notes {
  float: right;
  @media screen and (orientation: portrait) {
    margin-right: 25%;
  }
}

/* BOOTSTRAP NAV BAR*/

.nav_item ul,li, a {
  /*padding: 24px 30px 20px 30px;*/
  margin-bottom: 4px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: $link-color;
  font-size: 1em;
  text-decoration: none;
}

#reader_nav,
#reader_nav ul,
#reader_nav ul li,
#reader_nav ul li a {
  margin: 0;
  margin-top: 0%;
  /*padding: 0;*/
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  font-family: 'Georgia';
}
#reader_nav {
  font-size: 3.000em;
  /*width: auto;*/
  height: 120px;
  padding-bottom: 4px;
  background-color: $nav-backgroud;
}
#reader_nav.align-right {
  float: right;
}
#reader_nav.align-right ul li {
  float: right;
  margin-right: 0;
  margin-left: 4px;
}
#reader_nav.align-right ul li:first-child,
#reader_nav.align-right ul li:first-child > a {
  border-bottom-right-radius: 3px;
}
#reader_nav #bg-one,
#reader_nav #bg-two,
#reader_nav #bg-three,
#reader_nav #bg-four {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#reader_nav #bg-one {
  height: 10px;
  background: #0f71ba;
}
#reader_nav #bg-two {
  height: 59px;
  z-index: 2;
  background: url('images/bg.png');
}
#reader_nav #bg-three {
  bottom: 4px;
  height: 55px;
  z-index: 3;
  background: #222222;
  background: -moz-linear-gradient(top, #555555 0%, #222222 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #222222));
  background: -webkit-linear-gradient(top, #555555 0%, #222222 100%);
  background: -o-linear-gradient(top, #555555 0%, #222222 100%);
  background: -ms-linear-gradient(top, #555555 0%, #222222 100%);
  background: linear-gradient(to bottom, #555555 0%, #222222 100%);
}
#reader_nav #bg-four {
  bottom: 4px;
  height: 55px;
  z-index: 4;
  background: url('images/bg.png');
}
/*#reader_nav ul {
  height: 59px;
}*/
/*#reader_nav ul li {
  float: left;
  margin-right: 2%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  z-index: 5;
  margin-top: 25px;
}*/


#reader_nav ul li:first-child,
#reader_nav ul li:first-child > a {
  border-bottom-left-radius: 3px;
}
/*#reader_nav ul li:hover,
#reader_nav ul li.active {
  background: #0f71ba;
  background: -moz-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3fa4f0), color-stop(100%, #0f71ba));
  background: -webkit-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -o-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -ms-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: linear-gradient(to bottom, #3fa4f0 0%, #0f71ba 100%);
}*/
#reader_nav ul li a:hover,
#reader_nav ul li.active > a {
  // background: url('images/bg.png');
  color: #000;
  text-decoration: none;
}










