/* SLIDER */

#slider_bar {
  height: 20px;
  margin-top: 39%;
}

.slider_color_left {
  color: #99CCFF;
}

.ui-slider .ui-slider-handle {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  left:-.6em;
  text-decoration:none;
  text-align:center;
  margin-top: -10px;
}

.ui-slider-handle .ui-state-default .ui-corner-all .ui-state-hover {
  font-size: 30px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: none;
}

.error_reading{
  color: red;
}
